/* Taken from the jQuery UI example file. */
body {
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}

.demoHeaders {
    margin-top: 2em;
}

#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}

#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}

#icons {
    margin: 0;
    padding: 0;
}

#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}

#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}

.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}


label[for^="lock"] {
    padding: 6px;
}

span.lock, span.ui-selectmenu-text {
    display: block;
    font-size: 20px;
    line-height: 26px;
}

span.lock {
    width: 28px;
}

span.ui-selectmenu-text {
    font-size: 16px;
}

span.ui-selectmenu-button {
    padding: 6px;
}

label[for^="lock"] > span.ui-checkboxradio-icon {
    display: none;
}

p.desc {
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 6px;
    margin: 12px 0 0 0;
    background-color: #F6F6F6;
}

.fullwidth {
    max-width: 551px;
}

fieldset legend {
    font-size: 18px;
}

fieldset {
    max-width: 597px;
}

fieldset > fieldset {
    max-width: 565px;
}

#descJob {
    min-height: 300px;
}

#descRate {
    min-height: 300px;
}